$bgColorPrimaryDark: #14a85c;
$bgColorPrimaryLight: #86ea8f;

$secondaryColor: #e84c3d;

$textHeaderPrimary: #003300;
$textPrimary: #777777;
$textSecondary: #fff;

$bgColorFooter: #4e4e4e;
$itemColor1: #666666;



$p1: #14a85c;
$p1l1: lighten($p1, 10%);
$p1l2: lighten($p1, 20%);
$p1l3: lighten($p1, 30%);

$p1d1: darken($p1, 10%);
$p1d2: darken($p1, 20%);
$p1d3: darken($p1, 30%);
